body {
  background: #ccc;
  color: #666;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
}

.clearfix {
  clear: both;
}

#container {
  width: 380px;
  overflow: auto;
  margin: 40px auto;
  background: #396094;
  padding-bottom: 40px;
  border-radius: 10px;
}

#board li {
  float: left;
  position: relative;
  /* border: 1px solid #fff; */
  margin: 10px;
  height: 80px;
  width: 80px;
  font-size: 4rem;
  background: #333;
  color: #ccc;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
}

#board li:hover {
  cursor: pointer;
  background: #666;
}

footer {
  text-align: center;
  padding-top: 20px;
}

#reset {
  border: 0;
  margin: 5px auto;
  background: #444;
  color: #fff;
  font-size: 1rem;
  width: 75%;
  padding: 20px;
  border-radius: 5px;
}

#reset:hover {
  cursor: pointer;
  background: #666;
}

.o {
  color: green !important;
}

.x {
  color: red !important;
}
